.menu-component {
  &__input {
    grid-area: inputItem;
    input {
      width: 100%;
    }
  }

  &__row {
    grid-area: row;
    align-self: start; // выравнивание по оси y
    &__list {
      
    }
  }

  display: grid;
  grid-template-columns: 40px 170px 40px;
  grid-template-rows: 30px;
  grid-template-areas:
    ". inputItem ."
    ". row .";
  grid-row-gap: 0px;
  align-items: center;
}