.editor {
  background-color: black;
  display: grid;
  height: 100vh;
  grid-template-columns: auto 250px;
  grid-template-areas: 
    "map panel";
  .map {
    position: relative;
    color: white;
    grid-area: map;
  }
  .menu {
    color: white;
    grid-area: panel;
  }
}